.AboutMainContainner{
    background: #020744;
}

.HorizontDiv {
    background: url(../../assets/images/aboutSection.webp);
}

.HorizontDivDetail {
    background: url(../../assets/images/crosslines.png);
}