@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GROBOLD";
  src: local("GROBOLD"), url(./assets/Fonts/GROBOLD.ttf) format("truetype");
}

@font-face {
  font-family: "Cybersky Free Trial";
  src: local("Cybersky Free Trial"),
    url(./assets/Fonts/Cybersky_Free_Trial.ttf) format("truetype");
}

:root {
  font-family: Cybersky Free Trial;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
  transition-duration: 0.5s;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
a:hover {
  color: #ffffff;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

*/ html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Cybersky Free Trial;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-bg-welcome {
  background-color: #020744;
  background-image: radial-gradient(
      at 100% 100%,
      #020744 0,
      transparent 50%
    ),
    radial-gradient(at 200% 0%, hsl(224.7, 38.6%, 30%) 0, transparent 50%),
    radial-gradient(at 0% -30%, hsl(339.2, 49%, 30%) 0, transparent 50%);
}

.gradient-bg-services {
  background-color: #0f0e13;
  background-image: radial-gradient(
      at 0% 0%,
      hsla(253, 16%, 7%, 1) 0,
      transparent 50%
    ),
    radial-gradient(at 50% 100%, hsla(225, 39%, 25%, 1) 0, transparent 50%);
}

.gradient-bg-transactions {
  background-color: #0f0e13;
  background-image: radial-gradient(
      at 0% 100%,
      hsla(253, 16%, 7%, 1) 0,
      transparent 50%
    ),
    radial-gradient(at 50% 0%, hsla(225, 39%, 25%, 1) 0, transparent 50%);
}

.gradient-bg-footer {
  background-color: #0f0e13;
  background-image: radial-gradient(
      at 0% 100%,
      hsla(253, 16%, 7%, 1) 0,
      transparent 53%
    ),
    radial-gradient(at 50% 150%, hsla(339, 49%, 30%, 1) 0, transparent 50%);
}

.blue-glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.Shining-glassMorphin {
  background: rgba(61, 74, 252, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* white glassmorphism */
.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.eth-card {
  background-color: #a099ff;
  background-image: radial-gradient(
      at 83% 67%,
      rgb(48 51 159) 0,
      transparent 58%
    ),
    radial-gradient(at 67% 20%, hsla(357, 94%, 71%, 1) 0, transparent 59%),
    radial-gradient(at 88% 35%, hsla(222, 81%, 65%, 1) 0, transparent 50%),
    radial-gradient(at 31% 91%, hsla(9, 61%, 61%, 1) 0, transparent 52%),
    radial-gradient(at 27% 71%, hsla(336, 91%, 65%, 1) 0, transparent 49%),
    radial-gradient(at 74% 89%, hsla(30, 98%, 65%, 1) 0, transparent 51%),
    radial-gradient(at 53% 75%, hsla(174, 94%, 68%, 1) 0, transparent 45%);
}

.text-gradient {
  background-color: #fff;
  background-image: radial-gradient(
      at 4% 36%,
      hsla(0, 0%, 100%, 1) 0,
      transparent 53%
    ),
    radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.smooth-transition {
  transition: all 1s ease-in-out;
}

.smooth-slide {
  transition: all 1s NavBAr-Slide-Up;
}

@keyframes NavBAr-Swim-Vertical {
  from {
    margin-top: 0px;
  }

  to {
    margin-top: 25px;
  }
}

@keyframes Glowing {
  from {
    box-shadow: 0 0 40px 0 rgba(140, 234, 247, 0.85);
  }

  to {
    box-shadow: 0 0 0px 0 rgba(140, 234, 247, 0.85);
  }
}

@keyframes Fade {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.4;
  }
}

.NavSticky {
  position: sticky !important;
  top: 0px;
  z-index: 100;
  background-color: #0f0e13;
  background-image: radial-gradient(
      at 0% 0%,
      hsla(253, 16%, 7%, 1) 0,
      transparent 50%
    ),
    radial-gradient(at 50% 0%, hsla(225, 39%, 30%, 1) 0, transparent 50%),
    radial-gradient(at 100% 0%, hsla(339, 49%, 30%, 1) 0, transparent 50%);
  box-shadow: 0 0 10px 0 rgba(235, 247, 152, 0.74);
}

.Glow-Effect {
  animation-name: Glowing, Fade;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.Glow-Shadow {
  box-shadow: 0 0 40px 0 rgba(140, 234, 247, 0.85);
}

.Swim-Vertical {
  animation: NavBAr-Swim-Vertical infinite 1.7s linear alternate;
}

.align-center {
  align-self: center;
}

.Home-Avatar-Containner {
  margin-top: -150px;
}


